header{
    background-color: rgb(202, 200, 200);
    height: 40px;
    color: rgb(243, 51, 147);
    font-size: larger;
    padding-top: 10px;
}

main{
    margin-left: 100px;
    margin-right: 100px;
    margin-top:100px;
    border: 3px solid blue;
    padding-bottom: 10px;
    border-radius: 10px;
}

.spacing_between{
    margin-left: 5px;
    margin-right: 5px;
}

.checked{
    color: orange;
}

.bordered{
    background-color: blue;
    color: white;
    margin-top: 5px;
}
