<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.component.css">
  <title>BookMyMovies</title>
</head>
<body>
<main>
    <nav style="background-color: blue;color: white;">
        <table>
                <tr>
                    Login
                </tr> 
        </table>
    </nav>
    <table style="margin-bottom: 10px;margin-top: 10px;">
        <tr>
            BookMyMovies is an online platform to book your movie tickets on the go, select city, choose your theatre and here you done with your tickets.
        </tr>
    </table>
    <form #loginForm="ngForm" (ngSubmit)="validate();valid=false;">
    <table>
         <tr>
            <td>
                <label for="name">User Name</label>
            </td>
            <td>
                <input type="text" name="name" id="name" [(ngModel)]="username" #user_name="ngModel" required>
                <div *ngIf="!user_name.valid && user_name.touched"><small style="color: red;">User Name Required</small></div>
            </td>
          </tr>
          <tr>
            <td>
              <label for="password">Password</label>
            </td>  
            <td>
              <input type="password" name="password" id="password" [(ngModel)]="password" #pwd="ngModel" required>
              <div *ngIf="!pwd.valid && pwd.touched"><small style="color: red;">Password Required</small></div>
            </td>            
          </tr>
          <tr>
            <td></td>
            <td><button type="submit" [disabled]="loginForm.invalid">Login</button></td>
          </tr>
    </table>
  </form>
</main>
</body>
</html>